/* Cabecera */
.cabecera__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecera__buscar__item{
    display: none;
}
    
    /* Sesion superior */
.superior__seccion__container{
    display: flex;
    align-items: center;
    white-space: nowrap; 
    overflow: scroll; /* este es el que hace que se desplace el contenido con scroll */
    gap: 15px; /* separacion entre los elementos */
    di
}
    





/* rodapie */
.rodapie__container{
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
     /* control + c + control k para comentar rapido las lineas de codigo */
     flex-flow: column wrap;
  
}






@media (min-width:834px) {

    /* Cabecera */
    .cabecera__buscar__item{
        display: block
    }
    /* Rodapie */
.rodapie__container{
    justify-content: space-between;
}
}




